@use 'variables' as vars; // This will look for _variables.scss in the same directory

* {
  box-sizing: border-box;
  line-height: 1.5;
}

html,
body {
  color: vars.$default-color;
  margin: 0;
  padding: 0;
}

html {
  font-family: vars.$serif-primary;
  font-size: 24px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 32px;
  }
}

body {
  font-size: inherit;
  -webkit-text-size-adjust: 100%;
}

p,
ul,
ol {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: vars.$default-shade;
  font-family: vars.$serif-primary;
  line-height: normal;
}

a {
  color: vars.$blue;
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid vars.$grey-2;
  color: vars.$grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}