@use 'variables' as vars;

.catalogue {
  &-item {
    border-bottom: 1px solid vars.$grey-2;
    color: vars.$default-color;
    display: block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: vars.$default-tint;
    font-family: vars.$serif-secondary;
    letter-spacing: .5px;
  }

  &-title {
    color: vars.$default-shade;
    display: block;
    font-family: vars.$serif-primary;
    font-size: 2rem;
    font-weight: normal;
    margin: .5rem 0;
  }

  &-line {
    @include vars.transition(all .3s ease-out);
    border-top: .2rem solid vars.$default-shade;
    display: block;
    width: 2rem;
  }
}