@use 'variables' as vars;

// Add a wrapper div for tables
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  margin: 1.5rem 0;
}

table {
  width: 90%;
  max-width: 1000px;  // Optional: set a max-width
  border-collapse: collapse;
  margin: 0 auto;     // This centers the table
  text-align: center;
  font-family: vars.$sans-serif;
  color: vars.$default-color;
  border: 1px solid vars.$grey-3;
}

th,
td {
  border: 1px solid vars.$grey-3;
  padding: 0.75rem;
  font-size: 90%;
}

th {
  background-color: vars.$grey-2;
  font-weight: bold;
  text-transform: uppercase;
}

tbody tr:nth-child(odd) {
  background-color: vars.$grey-1;
}

tbody tr:nth-child(even) {
  background-color: vars.$white;
}

caption {
  margin-top: 0.5rem;
  font-size: 85%;
  font-style: italic;
  color: vars.$default-tint;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  table {
    max-width: 90%;
    overflow-x: auto;
  }
}

.table-container {
  overflow-x: auto;
  margin: 0 auto;
  max-width: 90%;
}
