// Colors
$default-color: #999;
$default-shade: black;
$default-tint: #ccc;
$grey-1: #999;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$blue: #666;
$shadow-color: rgba(0, 0, 0, .2);
$code-color: #bf616a;

// Fonts
$serif-primary: 'Palatino', 'Palatino Linotype', serif;
$serif-secondary: 'Palatino', 'Palatino Linotype', serif;
$sans-serif: Helvetica, Arial, sans-serif;
$monospaced: 'Inconsolata', Courier, monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}